/******* Global  **********************************/
body{
	background-color: #0aadde00;
}

p{
	margin-bottom: 0;
}

/******* Wiki Image  **********************************/
.header .wiki-image img{
	width: 20%;
}

.header .wiki-image{
	margin: auto;
	text-align: center;
	margin-top: 5vh;
	margin-bottom: 5vh;
}

/******* Search Bar  **********************************/
.header .searchbar-container{
	display: flex;
	margin: auto;
	justify-content: center;
	align-items: center;
	max-width: 720px;
}

.header .searchbar-container input{
	width: 60%;
	font: 16px arial,sans-serif;
	padding-left: 10px;
	line-height: 34px;
	-webkit-appearance: textfield; 
}

.header .searchbar-container input:focus{
	-webkit-appearance: textfield;
}

.header .searchbar-container input:hover{
	border-color: #a0a0a0 #b9b9b9 #b9b9b9 #b9b9b9 !important;
}


/******* Search Buttons  **********************************/
.search-buttons{
	display: flex;
	justify-content: center;
	align-items: center;
}

.search-buttons .btn{
	background-color: #f2f2f2;
	border: 1px solid #f2f2f2;
	border-radius: 2px;
	color: #757575;
	font-size: 13px;
	font-weight: bold;
	margin: 11px 4px;
	min-width: 54px;
	padding: 10px 16px;
}

.search-buttons button:hover, .search-buttons a:hover{
	border: 1px solid #c6c6c6;
	background-color: #f8f8f8;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	color: #222;
	background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
}

.search-buttons button:focus, .search-buttons a:focus{
	box-shadow: none;
	border: 1px solid #4d90fe;
}

/******* Search Results  **********************************/

.search-item{
	width: 80%;
	margin: auto;
}

.search-item{
	margin-bottom: 15px;
	padding: 10px;
}

@media (max-width: 600px) {
	.search-item{
	box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
	border-radius: 4px;
	}
}

.search-item p{
	margin-bottom: 0;
	padding-left: 25px;
}

.search-item .title{
	font-weight: bold;
	font-size: 1.25rem;
	color: #1a0dabcf;
}

.search-item .link{
	color:#006621;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.search-item .discription{
	/*padding: 5px 10px 10px 20px;*/
}


/********************************************************************************/
/* as: after search*/
/*** After Search is performed*/
.header-as .img-searchbar{
	display: flex;
	margin: 15px;
	align-items: center;
	justify-content: center;
}

/*** Wiki Image after search*/
.header-as img{
	width: 100px;
}

.header-as .wiki-image{
	/*margin: 5px 5px 0 5px;*/
}

.header-as input{
	width: 60vw;
	max-width: 600px;
	font: 16px arial,sans-serif;
	margin-left: 10px;
	padding-left: 10px;
	line-height: 34px;
	-webkit-appearance: textfield; 
}