body{
	background-color: #0aadde00;
}

.wiki-image img{
	width: 20%;
}

.wiki-image{
	margin: auto;
	text-align: center;
	margin-top: 5vh;
	margin-bottom: 5vh;
}

.searchbar-container{
	display: flex;
	margin: auto;
	justify-content: center;
	align-items: center;
	max-width: 720px;
}

.searchbar-container input{
	width: 60%;
}

i{
	background-color: #eee;
}

.random-article{
	text-align: center;
	
}

.search-item{
	width: 80%;
	margin: auto;
}

.search-item{
	margin-bottom: 15px;
	padding: 10px;
}

.search-item p{
	margin-bottom: 0;
	padding-left: 25px;
}

.search-item .title{
	font-weight: bold;
	font-size: 18px;
	color: #1a0dabcf;
}

.search-item .link{
	color:#006621;
}

.search-item .discription{
	/*padding: 5px 10px 10px 20px;*/
}